.sidebar {
    -fx-background-color: #4d6bff;
    -fx-padding: 20 10 20 10;
}

.search-field {
    -fx-background-color: white;
    -fx-text-fill: white;
    -fx-background-radius: 10;
    -fx-padding: 8 12;
    -fx-prompt-text-fill: #6c737f;
}

.nav-box {
    -fx-padding: 10 10 10 10;
}

.nav-item {
    -fx-background-color: #4d6bff;
    -fx-background-radius: 12;
    -fx-padding: 10 10 10 10;
    -fx-alignment: CENTER_LEFT;
    -fx-spacing: 15;
}

.nav-icon {
    -fx-text-fill: white;
    -fx-font-size: 18px;
}

.nav-text {
    -fx-text-fill: #d7dce5;
    -fx-font-size: 14px;
}

.user-box {
    -fx-background-color: #1b1f24;
    -fx-background-radius: 15;
    -fx-padding: 12;
}

.user-image {
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
}

.user-note {
    -fx-text-fill: #9ca3af;
    -fx-font-size: 10px;
}

.user-name {
    -fx-text-fill: white;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
}

.user-arrow {
    -fx-text-fill: white;
    -fx-font-size: 18px;
}
